/* Reset CSS */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 1rem;
  font-family: 'LXGW WenKai TC', sans-serif;
  background: radial-gradient(circle, rgb(147, 141, 141), rgb(5, 69, 0), rgb(255, 255, 255));
}

/* Navbar */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Ensure it covers the entire viewport width */
  z-index: 10;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: #575757;
}

/* Ensure main content is not hidden behind the navbar */
.main-content {
  margin-top: 2.2rem; 
}

h1, h2 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

/* Container for the filters */
.filters-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.2rem;
  width: 100%;
  margin: 0 auto;
}

/* Individual filter styling */
.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem;
  align-items: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bold;
}

/* Styling for filter items */
.filter-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  font-size: 0.9rem;
}

.team-checkbox-container {
  display: inline-block;
  margin: 0rem;
  padding: 0rem;
  font-size: 0.9rem;
}

.team-checkbox {
  display: inline-block;
  width: 3ch; /* Set a fixed width, enough for 3 characters */
  text-align: center; 
}

/* Container for the ADP filters */
.adp-filter-container {
  display: flex;
  justify-content: center;
}

input {
  margin: 0.3rem;
}

.adp-filter-container input {
  padding: 0.5rem;
  font-size: 0.5rem;
  width: 100px; 
}

.exclude {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Container for the table */
.table-container {
  width: 80%;
  margin: 0 auto;
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: 1rem;
  max-height: 70vh; 
  max-width: 100%; 
}

/* Make the table responsive */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* Allow table to adjust column widths based on content */
}

/* Styling for table headers and cells */
th, td {
  padding: 8px;
  text-align: center; /* Center align text in headers and cells */
  border: 1px solid #ddd;
  word-wrap: break-word; /* Ensure long words break to fit the cell */
  overflow: hidden; /* Hide overflow text */
}

th {
  background-color: #f2f2f2;
  cursor: pointer; /* Show pointer cursor for sortable headers */
  position: sticky; /* Make headers sticky */
  top: 0; /* Position at the top of the viewport */
  z-index: 1; /* Ensure headers appear above other content */
}

.sticky-row {
  background-color: yellow; /* Highlight sticky rows */
}

th .arrow {
  margin-left: 0.5rem;
}

.sorted-asc .arrow {
  content: '▲';
}

.sorted-desc .arrow {
  content: '▼';
}

th .arrow {
  content: '↕';
}

/* Ensure the table fits within the viewport on mobile devices */
@media (max-width: 768px) {  
  .navbar ul li {
    font-size: .7rem;
  }
  .filter {
    width: 100%;
    font-size: 0.7rem;
    margin: 0 auto;
  }

  table {
    font-size: 0.3rem; /* Adjust font size for better readability on smaller screens */
    width: 100%; /* Make table take full width */
    table-layout: fixed; /* Make table columns equal width */
  }

  .table-container {
    width: 100%;
    overflow-x: hidden;
  }

  th, td {
    padding: 4px; /* Adjust padding for smaller screens */
  }

  .team-checkbox-container {
    font-size: 0.7rem;
  }

  .filter-items {
    font-size: 0.7rem;
  }
  h1 {
    font-size: 2.5rem;
    margin: 3rem 0rem 1rem 0rem;
  }
}

/* Row color based on position */
.row-rb {
  background-color: #e0f7fa; /* Light blue for RB */
}

.row-qb {
  background-color: #ffebee; /* Light red for QB */
}

.row-wr {
  background-color: #e8f5e9; /* Light green for WR */
}

.row-te {
  background-color: #fff3e0; /* Light orange for TE */
}

/* Alternating row colors for the second table */
.alternate-rows tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Light grey for odd rows */
}

.alternate-rows tbody tr:nth-child(even) {
  background-color: #fff; /* White for even rows */
}

a {
  color: white;
  text-decoration: none;
}

