/* General styling for the app */
.App {
  text-align: center;
  padding: 1rem;
  font-family: 'LXGW WenKai TC', sans-serif;
}

/* Container for the filters */
.filters-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.2rem;
  width: 100%;
  margin: 0 auto;
 
}

/* Individual filter styling */
.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem;
  align-items: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bold;
  
}

/* Styling for filter items */
.filter-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
 
}

.team-checkbox-container {
  display: inline-block;
  margin: 0.1rem;
  padding: .1rem;
}

.team-checkbox {
  display: inline-block;
  width: 3ch; /* Set a fixed width, enough for 3 characters */
  text-align: center; /* Center the text */
}


/* Container for the ADP filters */
.adp-filter-container {
  display: flex;
  justify-content: center;
}

input {
  margin: 0.3rem;
}

.adp-filter-container input {
  margin: 0 0.5rem;
  padding: 0.5rem;
  font-size: .5rem;
  width: 100px; /* Adjusted input width */
  
}

.exclude {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Container for the table */
.table-container {
  width: 80%;
  margin: 0 auto;
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: 1rem;
  max-height: 70vh; /* Adjust based on your preference */
  max-width: 100%; /* Ensure the table doesn't exceed the container width */
}

/* Make the table responsive */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* Allow table to adjust column widths based on content */
}

/* Styling for table headers and cells */
th, td {
  padding: 8px;
  text-align: center; /* Center align text in headers and cells */
  border: 1px solid #ddd;
  word-wrap: break-word; /* Ensure long words break to fit the cell */
  overflow: hidden; /* Hide overflow text */
}

th {
  background-color: #f2f2f2;
  cursor: pointer; /* Show pointer cursor for sortable headers */
  position: sticky; /* Make headers sticky */
  top: 0; /* Position at the top of the viewport */
  z-index: 1; /* Ensure headers appear above other content */
}

th .arrow {
  margin-left: 0.5rem;
}

.sorted-asc .arrow {
  content: '▲';
}

.sorted-desc .arrow {
  content: '▼';
}

th .arrow {
  content: '↕';
}

/* Ensure the table fits within the viewport on mobile devices */
@media (max-width: 768px) {
  .filter {
    width: 100%;
  }

  table {
    font-size: 0.7rem; /* Adjust font size for better readability on smaller screens */
  }

  th, td {
    padding: 4px; /* Adjust padding for smaller screens */
  }
}

/* Row color based on position */
.row-rb {
  background-color: #e0f7fa; /* Light blue for RB */
}

.row-qb {
  background-color: #ffebee; /* Light red for QB */
}

.row-wr {
  background-color: #e8f5e9; /* Light green for WR */
}

.row-te {
  background-color: #fff3e0; /* Light orange for TE */
}

/* Alternating row colors for the second table */
.alternate-rows tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Light grey for odd rows */
}

.alternate-rows tbody tr:nth-child(even) {
  background-color: #fff; /* White for even rows */
}

.App {
  background: radial-gradient(circle, rgb(147, 141, 141), rgb(5, 69, 0), rgb(255, 255, 255));
}



h1, h2{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}